/* Css Reset */
* {

    margin: 0;
    padding: 0;
}

/* Css Variables */
:root {
    --navbar-height: 59px;
}

/* Navbar Css */
#navbar {

    display: flex;
    align-items: center;
    border-radius: 5px;
    position: relative;

}

/* Navbar Css:Logo and Image */
#logo {
    margin: 0px 13px;
}

#logo img {
    height: 70px;
    margin: 9px 30px;




}



/* Navbar Css:List Styling */

#navbar ul {
    display: flex;
    margin: 21px 87px;
    font-family: 'Ubuntu', sans-serif;


}

#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;

}

#navbar ul li {
    margin: 10px 12px;
    list-style: none;

    font-size: 1.4rem;
}

#navbar ul li a {
    color: white;
    display: block;
    padding: 2px 19px;
    border-radius: 15px;
    text-decoration: none;

}

#navbar ul li a:hover {
    color: black;
    background-color: white;

}

/* Home Section Css */
#home {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Dancing Script', cursive;
}

#home::before {
    content: "";
    background: url('../bg2.jpg') no-repeat center  center/cover;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.80;

}

#home h1 {

    font-family: 'Ubuntu', sans-serif;



}

#home p {
    font-size: 1.5rem;
    font-family: 'Ubuntu', sans-serif;



}

#home p {
    font-size: 1.5rem;
    font-family: 'Ubuntu', sans-serif;



}
/* Services Section */

#services{
    display: flex;
}
#services .box{
    border: 2px solid red;
    
}

#services div img{
    
    height: 100px;
    
}


/* Utility Classes */

.h-primary {
    font-size: 3.5rem;
    padding: 15px;
    

}

.h-secondary {
    font-size: 2.5rem;
    padding: 15px;
}



.btn {
    border-radius: 12px;
    padding: 6px 20px;
    border: 2px solid white;
    background-color: rgb(121, 20, 20);
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    cursor: pointer;
}